html {
    font-size: 62.5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.6rem;
    color: #333;
}

h1 {
    color: royalblue;
}

h2 {
    color: darkblue;
}
